{% extends 'base.html' %}
{% block content %}
    {% if post_list %}
        <div class="container-fluid h-75">
            {% for post in post_list %}
            <div class="row">
                <span class="col-4 align-self-start"><a href="{{ post.get_absolute_url|safe }}">{{ post.title }}</a></span><span class="col align-self-center">{{ post.text|striptags|safe|slice:":40" }}...</span> 
                <span class="col align-self-end">{{ post.date_created|date }}</span>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no posts in the forum.</p>
    {% endif %} 
{% endblock %}