ceramic_isles/static/**/*
!./ceramic_isles/static/favicon.ico
!./ceramic_isles/static/robots.txt
!./ceramic_isles/static/sitemap.xml
!./ceramic_isles/media/**/*
!./ceramic_isles/media/default_avatars
!./ceramic_isles/media/default_avatars/**/*
/**/__pycache__/**/*
ceramic_isles/ceramic_isles/wsgi.py
ceramic_isles/manage.py
ceramic_isles/django_bs_carousel_src
ceramic_isles/django_artisan_src
ceramic_isles/django_forum_src
ceramic_isles/django_messages_src
ceramic_isles/django_profile_src
ceramic_isles/django_users_src
ceramic_isles/safe_imagefield_src
old_apps
