django_artisan/static/**/*
!django_artisan/static/favicon.ico
!django_artisan/static/robots.txt
!django_artisan/static/sitemap.xml
django_artisan/media/**/*
!django_artisan/media/default_avatars
!django_artisan/media/default_avatars/**/*
/**/__pycache__/**/*
django_artisan/ceramic_isles/wsgi.py
django_artisan/manage.py
django_artisan/django_bs_carousel_shadow
django_artisan/django_forum_src
django_artisan/django_messages_src
django_artisan/django_profile_src
django_artisan/django_users_src
django_artisan/safe_imagefield_src
old_apps
