{% extends 'base.html' %}
{% block title %}{{ siteName }} - About{% endblock title %}
{% block content %}
<div class="container-fluid">
	<div class="row mx-auto">
		<div class="col-auto mx-auto">
			<div class="row">
				<div class="col-11 col-sm-10 col-md-8 col-lg-7 text-white mx-auto mt-5 mb-3">
					<span class="spiel headline-text">{{ about_text|safe }}</span>
				</div>
			</div>
			<div class="row mx-auto">
				<div class="col-11 col-sm-10 col-md-8 col-lg-7 mx-auto">
					<div class="row">
	   					<h3 class="text-warning">Events</h3>
	   				</div>
	   				<div class="row headline-text">
	   			        <h4>Here is a list of events associated with ceramic isles users</h4>
				    </div>
					{% for event in object_list %}
				    <div class="card card-bg border-primary text-primary p-3 mb-3 ms-2">
					    <div class="col-auto mx-auto ps-5">
					    	<div class="row">
					    	    {% if event.date %}
					    	        {{ event.date }} - {{ event.time }}
					    	    {% else %}
					    	        {{ event.every }} - {{ event.time }}
					    	    {% endif %}
					    	</div>
					    	<div class="row">
					        	{{ event.title}}
					        </div>
					        <div class="row">
					        	{{ event.text }}
					        </div>
					    </div>
					</div>
					{% empty %}
					<div class="col-auto text-white mb-5">
					    <h3>There are no events at the moment.</h3>
					</div>
					{% endfor %}
					{% include './people.html' %}
				</div>
			</div>
	    </div>
	</div>
</div>
{% endblock content %}