<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Password reset</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=""
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Django administration</a></h1>

        </div>
        
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; Password reset
</div>

    

    <div class="main shifted" id="main">
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          <h1>Password reset</h1>
          

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="rFTqWzGXWBaQOYGBed4EUbz36PCVXLSzhw5BDQ6pdP9AxsGdM1kZ5iSy1cjtUdbp">
<fieldset class="module aligned">
    <div class="form-row field-email">
        
        <label for="id_email">Email address:</label>
        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
    </div>
    <input type="submit" value="Reset my password">
</fieldset>
</form>


          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->


<link rel="stylesheet" href="/static/debug_toolbar/css/print.css" media="print">
<link rel="stylesheet" href="/static/debug_toolbar/css/toolbar.css">


<script type="module" src="/static/debug_toolbar/js/toolbar.js" async></script>

<div id="djDebug" class="djdt-hidden" dir="ltr"
     data-store-id="5f8c314fb0034afb8a3f97abeb6ae0a2" data-render-panel-url="/__debug__/render_panel/"
     data-default-show="true"
     >
  <div class="djdt-hidden" id="djDebugToolbar">
    <ul id="djDebugPanelList">
      <li><a id="djHideToolBarButton" href="#" title="Hide toolbar">Hide »</a></li>
      
        

<li id="djdt-HistoryPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtHistoryPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="History" class="HistoryPanel">
  
  History
  
    
      <br><small>/users/accounts/password_reset/</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-VersionsPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtVersionsPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Versions" class="VersionsPanel">
  
  Versions
  
    
      <br><small>Django 3.1.5</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-TimerPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtTimerPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Time" class="TimerPanel">
  
  Time
  
    
      <br><small>CPU: 49.86ms (66.24ms)</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-SettingsPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtSettingsPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Settings from settings" class="SettingsPanel">
  
  Settings
  
    
      
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-HeadersPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtHeadersPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Headers" class="HeadersPanel">
  
  Headers
  
    
      
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-RequestPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtRequestPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Request" class="RequestPanel">
  
  Request
  
    
      <br><small>PasswordResetView</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-SQLPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtSQLPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="SQL queries from 0 connections" class="SQLPanel">
  
  SQL
  
    
      <br><small>0 queries in 0.00ms</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-StaticFilesPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtStaticFilesPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Static files (274 found, 3 used)" class="StaticFilesPanel">
  
  Static files
  
    
      <br><small>3 files used</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-TemplatesPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtTemplatesPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Templates (3 rendered)" class="TemplatesPanel">
  
  Templates
  
    
      <br><small>registration/password_reset_form.html</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-CachePanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtCachePanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Cache calls from 1 backend" class="CachePanel">
  
  Cache
  
    
      <br><small>0 calls in 0.00ms</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-SignalsPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtSignalsPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Signals" class="SignalsPanel">
  
  Signals
  
    
      <br><small>51 receivers of 15 signals</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-LoggingPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtLoggingPanel" checked title="Disable for next and successive requests">
  
    <a href="#" title="Log messages" class="LoggingPanel">
  
  Logging
  
    
      <br><small>0 messages</small>
    
  
  
    </a>
  
</li>

      
        

<li id="djdt-RedirectsPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtRedirectsPanel" title="Enable for next and successive requests">
  
    <div class="djdt-contentless djdt-disabled">
  
  Intercept redirects
  
  
    </div>
  
</li>

      
        

<li id="djdt-ProfilingPanel" class="djDebugPanelButton">
  <input type="checkbox" data-cookie="djdtProfilingPanel" title="Enable for next and successive requests">
  
    <div class="djdt-contentless djdt-disabled">
  
  Profiling
  
  
    </div>
  
</li>

      
    </ul>
  </div>
  <div class="djdt-hidden" id="djDebugToolbarHandle">
    <div title="Show toolbar" id="djShowToolBarButton">
      <span id="djShowToolBarD">D</span><span id="djShowToolBarJ">J</span>DT
    </div>
  </div>

  
    


  <div id="HistoryPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>History</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="VersionsPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Versions</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="TimerPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Time</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="SettingsPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Settings from settings</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="HeadersPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Headers</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="RequestPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Request</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="SQLPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>SQL queries from 0 connections</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="StaticFilesPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Static files (274 found, 3 used)</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="TemplatesPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Templates (3 rendered)</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="CachePanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Cache calls from 1 backend</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="SignalsPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Signals</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    


  <div id="LoggingPanel" class="djdt-panelContent djdt-hidden">
    <div class="djDebugPanelTitle">
      <button type="button" class="djDebugClose">×</button>
      <h3>Log messages</h3>
    </div>
    <div class="djDebugPanelContent">
      
        <div class="djdt-loader"></div>
        <div class="djdt-scroll"></div>
      
    </div>
  </div>


  
    



  
    



  
  <div id="djDebugWindow" class="djdt-panelContent djdt-hidden"></div>
</div>
</body>
</html>
