.headline-text {
  color: #CAF0F8;
}

.headline-text:hover {
  color: #CAF0F8;
}

.sub-headline-text {
  color: #f7ff69;
}

/*.sub-headline-text:hover {
  color: #F4A261;
}*/

.text-purple {
  color: #871F78;
}

.text-purple:hover {
  color: #871F78;
}

.text-lightgreen {
  color: #93C54B;
}

.text-lightgreen:hover {
  color: #93C54B;
}

/* NAVBAR */
.header-navbar {
  position: relative;
  margin:0;
  padding:0;
  z-index: 1000;
}

.navbar-inner { 
    background-color: #AFE1AF; 
} 

.navbar-custom { 
    background-color: #173E43; 
}

.navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-size: 1.8rem;
}

.site-logo { 
    height: 40px;
}

/* POSTS */

.post-table td {
  overflow-wrap: break-word;
  hyphens: auto;
}

.custom-select {
  width: 100px;
}

.post-headline {
  font-size: 2.2rem;
  font-family: 'Lobster Two', cursive;
}

.comment-headline {
  font-size: 1.8rem;
  font-family: 'Lobster Two', cursive;
}

.comment-sm-headline {
  font-size: 1.2rem;
  font-family: 'Lobster Two', cursive;
}


/*table {
  width:100%;
}*/

.posts-and-comments {
  height: 70vh;
}

.posts-and-comments-container {
  height: 70vh;
}

.post-list {
  overflow-x: auto;
}

.post-create-form-text {
  min-height: 60vh;
}

.comment-form-text {
  max-height: 15vh;
}

#post-edit-div {
  display: none;
}

.comment-form {
  margin-top: 1.3em;
}

.comment-textarea {
  height: 18vh;
}

.comment-text > p > a {
  color:yellow;
}

.comment-form-buttons {
  display: none;
}

/* PROFILE */
#div_id_image_file {
  color: white;
}

.custom-file-label {
  display: none;
}

.form-control.custom-file > .custom-file-input {
  line-height: 1rem;
}

/* POSTS */
.custom-select {
  width: 100px;
}

table {
  width:100%;
}

#post-edit-div {
  display: none;
}

.comment-textarea {
  height: 18vh;
}

.comment-text > p > a {
  color:yellow;
}

.comment-form-buttons {
  display: none;
}
