{% extends 'base.html' %}
{% block title %}{{ siteName }} - Profile{% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
    {% load thumbnail %}
    {% block extra_css %}
    {% endblock extra_css %}
    {% block content %}
        <div class="row my-auto ms-3">
            <div class="col-auto">
                <form method="post" class="avatarform mb-3" id="avatarform" action="{% url 'django_artisan:profile_update_view' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="update-avatar">
                    {% thumbnail avatar.image_file "80x80" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="btTxt img-thumbnail" role="button" id="avatarImage" title="Click me to change avatar!" />
                    {% endthumbnail %}
                    <input id="avatarUpload" class="d-none" type="file" name="avatar">
                </form>
            </div>
            <div class="col-11 col-sm-9 col-md-7 col-lg-5 mb-3">
                <form method="post" action="{% url 'django_artisan:profile_update_view' %}" class="col-auto" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="update-profile">
                    <fieldset legend="profile">
                    {% crispy user_form %}
                    {% crispy form %}
                    </fieldset>
                    <div class="row justify-content-between mt-3">
                        <a href="{% url 'django_artisan:image_update' %}" class="col-auto btn btn-success mb-3" role="button">Update your gallery images</a>
                        <button type="submit" class="btn btn-primary col-auto mb-3">Update Profile</button>
                        <a href="{% url 'django_forum:post_list_view' %}" class="col-auto text-white mb-3">Return to Forum</a>
                    </div>
                </form>
            <div class="d-flex justify-content-between tinfo">
                <a class="tinfo" href="{% url 'django_forum:rules_view' %}">Read the rules</a>
                <a class="tinfo" href="{% url 'password_change' %}">Change your password</a>
            </div>
            </div>
            {% if page_obj.object_list.count %}
            <div class="col-12 col-lg-6 mx-auto pe-4 ps-0">
                <h3 class="text-center headline-text">My Posts</h3>
                {% include '../posts_and_comments/post_list.html' %}
            </div>
            {% endif %}
        </div>
    {% endblock content %}
    {% block body_imports %}
    <script src="{% static 'django_artisan/js/profileUpdate.js' %}" type="application/javascript" referrerpolicy="origin"></script>
    {% endblock body_imports %}
{% endif %}