{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-between">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <div class="row">
                <div class="col-auto">
                    {{ message }}{{ error_msg|safe }}
                    <form method="post" action="{% url 'django_forum_app:image_update' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% crispy form %}
                        <div class="row justify-content-between">
                            <input type="submit" value="Upload Files" class="btn btn-primary col-auto mb-3 ml-2">
                            <a href="{% url 'django_forum_app:profile_update_view' %}" class="btn btn-primary col-auto mb-3 mr-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include './image_list.html' %}
    </div>
</div>
{% endblock content %}