{% load crispy_forms_tags %}
		<!-- COMMENTS -->
		<div class="ps-md-5 ps-lg-5 ps-sm-3 ps-2 col-12 col-lg-8 mx-auto">
		    <h3 class="tinfo mt-3 comment-headline">Comments...</h3>
		    {% load thumbnail %}
		        <div class="row mx-auto">
			        <div class="comments ps-4">
		    		{% for comment in comments %}
		                <div class="flex-column mx-auto">
                                <div class="d-flex">
                                    <a href="/people/{{comment.author}}/">{% thumbnail comment.author.profile.forumprofile.avatar.image_file "40x40" crop="center" as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="rounded-circle me-1" value="image-{{ forloop.counter }}" title="{{comment.author}}"></img></a>
                                    {% endthumbnail %}
    		                	    <a class="col-1" href="{{request.path}}#{{comment.slug}}" id="{{ comment.slug }}"><h2 class="text-warning me-1">#</h2></a>
		                	{% if not comment.moderation_date %}
    			                	<div id="comment-text-{{ forloop.counter }}" class="comment-text">
    			                        {{ comment.text|linebreaks|urlize|safe }}
    	                            </div>
                                </div>
                            {% else %}
                                <div>This comment has been reported and is awaiting moderation</div>
                            {% endif%}
                            {% if comment.author == request.user %}
                            <div id="comment-form-buttons-{{ forloop.counter }}" class="comment-form-buttons">
                            	<form method="post" action="{% url 'django_artisan:comment_update' %}" id="comment-update-form">
                            	{% csrf_token %}
                            		<input id="post-id" type="hidden" name="post-id" value="{{ post.id }}">
        							<input id="post-slug" type="hidden" name="post-slug" value="{{ post.slug }}">
        							<input id="comment-slug" type="hidden" name="comment-slug" value="{{ comment.slug }}">
        							<input id="comment-id" type="hidden" name="comment-id" value="{{ comment.id }}">
                            		<div class="row">
                            			<div class="col-auto">
                                    		<textarea id="comment-textarea-{{ forloop.counter }}" wrap="hard" rows="6" cols="60" class="comment-textarea" name="comment-text"></textarea>
                                    	</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-auto ms-auto">
                                    	    <a class="comment-save tinfo me-2" href="#">Save Comment</a>
                                    	    <a id="{{ forloop.counter }}" class="comment-cancel tinfo" href="#">Cancel Update</a>
                                        </div>
                                    </div>
                              	</form>
                            </div>
                            {% elif not comment.moderation_date %}
                            <div class="ms-auto">
			                    <form method="post" action="{% url 'django_artisan:comment_report' %}" id="form-report-comment">
			                    	{% csrf_token %}
			                    	<div class="tinfo">
			                        <input id="post-id" type="hidden" name="post-id" value="{{ post.id }}">
        							<input id="post-slug" type="hidden" name="post-slug" value="{{ post.slug }}">
        							<input id="comment-slug" type="hidden" name="comment-slug" value="{{ comment.slug }}">
        							<input id="comment-id" type="hidden" name="comment-id" value="{{ comment.id }}">
			                            <a class="report-comment text-warning" href="#">Report Comment for Moderation</a>
			                    	</div>
			                    </form>
			                </div>
                            {% endif %}
                        </div>
                        <div class="row justify-content-end mb-3">
			                {% if comment.author == request.user %}
		                    <div id="comment-modify-btns-{{ forloop.counter }}" class="col-auto">
			                	<a href="#" class="tinfo col-auto me-3" data-bs-toggle="modal" data-bs-target="#commentModal" data-bs-comment-id="{{comment.id}}" data-bs-comment-slug="{{comment.slug}}">Delete Comment</a>
			                	<a id="{{ forloop.counter }}" class="comment-edit tinfo col-auto" href="#">Edit Comment</a>
				            </div>
				            {% endif %}
				        </div>
	                    <div class="row justify-content-end">
	                        <span class="col-auto tinfo fs-6 font-weight-normal">
	                                {{ comment.created_at }}
	                        </span>
	                    </div>
            		{% endfor %}
			        </div>
        	    </div>
            {% if post.commenting_locked == False and  post.moderation_date is None %}
            <div class="row">
	            <div class="card-body mx-auto">
	                <form method="post" action="{% url 'django_artisan:comment_create' post.id post.slug %}" class="comment-form">
	                <input type="hidden" name="type" value="comment">
	                  {% crispy comment_form %}
	                  {% csrf_token %}
	                </form>
	            </div>
            </div>
            {% else %}
            <div class="row tinfo mb-4">
            	<div class="col-auto">
	            	<div class="comment-headline">
	            		Commenting has been locked for this post.
	            	</div>
            		Contact an admin if you disagree...
            	</div>
            </div>
            {% endif %}
			<!-- Confirm Delete Comment Modal -->
            <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="commentModalLabel">Confirm Comment Deletion</h5>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
					  <h4>Warning!</h4><p>You are about to delete this Comment.  This action cannot be undone!  Proceed carefully...</p>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					  <form method="post" action="{% url 'django_artisan:comment_delete' %}">
						{% csrf_token %}
						<input id="post-id" type="hidden" name="post-id" value="{{ post.id }}">
						<input id="post-slug" type="hidden" name="post-slug" value="{{ post.slug }}">
						<input id="rem-comment-slug" type="hidden" name="comment-slug" value="">
						<input id="rem-comment-id" type="hidden" name="comment-id" value="">
						<button type="submit" class="btn btn-primary">Delete Comment</button>
					  </form>
					</div>
				  </div>
				</div>
			  </div>
        </div>