{% extends 'base.html' %}
{% block title %}{{ siteName }} - Post{% endblock title %}
{% load static %}
{% block extra_js %}
<script src="{% static 'django_forum_app/js/forum_post_detail.js' %}" type="application/javascript" referrerpolicy="origin"></script>
{% endblock extra_js %}
{% block form_media %}
 <script src="{% static 'tinymce/tinymce.min.js' %}" type="application/javascript" referrerpolicy="origin"></script>
 <script src="{% static 'tinymce/jquery.tinymce.min.js' %}" type="application/javascript" referrerpolicy="origin"></script>
{% endblock form_media %}
{% block content %}
<div class="container posts-and-comments">
	<div class="row h-75 my-auto">
		{% include './post.html' %}
		{% include './comment.html' %}
	</div>
</div>
{% endblock %}
{% block body_js %}
{% endblock body_js %}