{% load thumbnail %}
<div class="mb-3 post-list">
                <table>
                    <thead>
                        <tr class="sub-headline-text">
                            <th scope=""></th>
                            <th scope="Title">Title (try clicking one)</th>
                            <th scope="PostLeader">Post Leader</th>
                            <th scope="Category">Category</th>
                            <th scope="#comments" class="text-center"># Comments</th>
                            <th scope="Date">Date</th>
                        </tr>
                    </thead>
                    <tbody id="post-table" class="tinfo">
                        {% for post in page_obj.object_list %}
                            <tr >
                                    <td scope="row" class="avatar" data-label="">
                                        {% thumbnail post.user_profile.forumprofile.avatar.image_file "50x50" crop="center" as im %}
                                            <a href="/people/{{post.user_profile.display_name}}"><img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="rounded-circle" id="image-{{ post.user_profile.display_name }}_avatar-image" title="{{post.user_profile.display_name}}" /></a>
                                        {% endthumbnail %}
                                    </td>
                                    <td data-label="Title (click-me)">
                                        <a href="{{ post.get_absolute_url|safe }}" class="tinfo">{{ post.title }}</a>
                                    </td>
                                    <td data-label="PostLeader">
                                        {% if not post.moderation %}
                                            {{ post.text|striptags|safe|slice:":40" }}...
                                        {% else %}
                                             Post is awaiting moderation
                                        {% endif %}
                                    </td>
                                    <td data-label="Category">
                                        {{ post.get_category_display|safe }}
                                        {% if post.pinned %}...pinned post{% endif %}
                                    </td>
                                    <td data-label="#comments" class="num-comments">
                                        {{ post.comments.count }}
                                    </td>
                                    <td data-label="Date">
                                        {{ post.date_created|date }}
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                {% if request.path == '/forum/posts/' %}
                    <div class="col-3 mx-auto fixed-bottom mb-3">
                {% else %}
                    <div class="col-3 mx-auto">
                {% endif %}
                    <div class="row pagination">
                        <span class="d-flex step-links justify-content-around flex-fill">
                            {% if page_obj.has_previous %}
                                <a class="tinfo" href="?page=1">&laquo; first</a>
                                <a class="tinfo" href="?page={{ page_obj.previous_page_number }}">...previous</a>
                            {% endif %}

                            <span class="current tinfo">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a class="tinfo" href="?page={{ page_obj.next_page_number }}">next...</a>
                                <a class="tinfo" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>