{% load thumbnail %}
<div class="mb-3 post-list">
                <table id="table">
                    <thead class="sub-headline-text">
                        <tr>
                            <th scope="Author">Author</th>
                            <th scope="Title">Title (try clicking one)</th>
                            <th scope="PostLeader">Post Leader</th>
                            <th scope="Category">Category</th>
                            <th scope="Location">Location</th>
                            <th scope="#comments" class="text-center"># Comments</th>
                            <th scope="Date">Date</th>
                        </tr>
                    </thead>
                    <tbody id="post-table" class="tinfo post-table">
                        {% for post in page_obj.object_list %}
                            <tr >
                                    <td scope="row" class="avatar d-flex justify-content-between align-items-center pe-5" data-label="Author">
                                        {% thumbnail post.user_profile.forumprofile.avatar.image_file "50x50" crop="center" as im %}
                                            <a href="/people/{{post.user_profile.display_name}}"><img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="rounded-circle" id="image-{{ post.user_profile.display_name }}_avatar-image" title="{{post.user_profile.display_name}}" /></a>
                                        {% endthumbnail %}
                                        {% if post.pinned %}
                                        {% thumbnail 'http://127.0.0.1:8000/static/django_forum/images/yellow-pin.png' "40x40" format='PNG' as im %}
                                            <img src="{{ im.url }}" width='30' height='30' title="This post is pinned!">
                                        {% endthumbnail %}
                                        {% endif %}
                                    </td>
                                    <td data-label="Title">
                                        <a href="{{ post.get_absolute_url|safe }}" class="tinfo">{{ post.title }}</a>
                                    </td>
                                    <td data-label="PostLeader">
                                        {% if not post.moderation %}
                                            {{ post.text|striptags|safe|slice:":40" }}...
                                        {% else %}
                                             Post is awaiting moderation
                                        {% endif %}
                                    </td>
                                    <td data-label="Category">
                                        {{ post.get_category_display|safe }}
                                    </td>
                                    <td data-label="Location">
                                        {{ post.get_location_display|safe }}
                                    </td>
                                    <td data-label="#comments" class="num-comments">
                                        {{ post.comments.count }}
                                    </td>
                                    <td data-label="Date">
                                        {{ post.date_created|date }}
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    {% with site_url|add:'/static/django_artisan/images/nouveau_line.png' as banner_url %}
                        {% thumbnail banner_url "3000x240" format='PNG' as im %}
                            <img src="{{ im.url }}" width='100%' height='50' title="This post is pinned!">
                        {% endthumbnail %}
                    {% endwith %}
                </div>
            </div>
            <div class="row post-list">
                {% if request.path == '/forum/posts/' %}
                    <div class="col-10 col-sm-auto mx-auto mb-3 pt-2 pb-2">
                {% else %}
                    <div class="col-10 col-sm-auto mx-auto">
                {% endif %}
                    <div class="row pagination">
                        <h6>
                            <span class="d-flex step-links justify-content-center mx-auto comment-sm-headline">
                                {% if page_obj.has_previous %}
                                    <a class="ms-3 tinfo col-auto" href="?page=1">&laquo; first</a>
                                    <a class="ms-2 me-2 tinfo col-auto" href="?page={{ page_obj.previous_page_number }}">...previous</a>
                                {% endif %}

                                <span class="current tinfo col-auto">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>

                                <span class="col-auto current tinfo">
                                    {% if page_obj.has_next %}
                                        <a class="ms-3 tinfo col-auto" href="?page={{ page_obj.next_page_number }}">next...</a>
                                        <a class="ms-2 tinfo col-auto" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </span>
                        </h6>
                    </div>
                </div>
            </div>