{% load crispy_forms_tags %}
        <!-- COMMENTS -->
		<div class="col-10 col-lg-8  mx-auto">
		    <h5 class="tinfo mt-3">Comments...</h5>
		    {% load thumbnail %}
		    {% for comment in comments %}
		        <div class="row mx-auto">
			        <div class="comments ps-4">
		                <div class="row mx-auto">
		                	{% if not comment.moderation_date %}
		                	    <a class="col-1" href="{{request.path}}#{{comment.slug}}" id="{{ comment.slug }}"><h2 class="text-warning">#</h2></a>
			                	<div id="comment-text-{{ forloop.counter }}" class="comment-text col-11">
			                        {{ comment.text|linebreaks|urlize|safe }}
	                            </div>
                            {% else %}
                                <div>This comment has been reported and is awaiting moderation</div>
                            {% endif%}
                            {% if comment.author == user_display_name %}
                            <div id="comment-form-buttons-{{ forloop.counter }}" class="comment-form-buttons">
                            	<form method="post" id="comment-update-form">
                            	{% csrf_token %}
                            	<input type="hidden" name="type" value="comment-update">
                            	<input type="hidden" name="id" value="{{ comment.id }}">
                            		<div class="row">
                            			<div class="col-auto">
                                    		<textarea id="comment-textarea-{{ forloop.counter }}" wrap="hard" rows="6" cols="60" class="comment-textarea" name="comment-update"></textarea>
                                    	</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-auto ms-auto">
                                    	    <a class="comment-save tinfo me-2" href="#">Save Comment</a>
                                    	    <a id="{{ forloop.counter }}" class="comment-cancel tinfo" href="#">Cancel Update</a>
                                        </div>
                                    </div>
                              	</form>
                            </div>
                            {% elif not comment.moderation_date %}
                            <div class="ms-auto">
			                    <form method="post" id="form-report-comment">
			                    	{% csrf_token %}
			                    	<div class="tinfo">
			                            <input type="hidden" name="type" value="comment-report">
			                            <input type="hidden" name="id" value="{{ comment.id }}">
			                            <a class="report-comment text-warning" href="#">Report Comment for Moderation</a>
			                    	</div>
			                    </form>
			                </div>
                            {% endif %}
                        </div>
                        <div class="row justify-content-between mb-3">
                        	<div class="col-auto">
		                	    {% thumbnail comment.user_profile.forumprofile.avatar.image_file "40x40" crop="center" as im %}
                                    <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="rounded-circle" value="image-{{ forloop.counter }}" title="{{comment.author}}"></img>
                                {% endthumbnail %}
	                            <span class="tinfo fs-6 font-weight-normal">
		                            {{ comment.created_at }}
		                        </span>
		                    </div>
			                {% if comment.author == user_display_name %}
		                    <div id="comment-modify-btns-{{ forloop.counter }}" class="col-auto">
			                	<a href="#" class="tinfo" data-bs-toggle="modal" data-bs-target="#commentModal" data-bs-whatever="{{comment.id}}">Delete Comment</a>
			                	<a id="{{ forloop.counter }}" class="comment-edit tinfo" href="#">Edit Comment</a>
				             </div>
				            {% endif %}
				        </div>
			        </div>
        	    </div>
            {% endfor %}
            <div class="row">
	            <div class="card-body mx-auto">
	                <form method="post" action="{% url 'django_forum:comment_save' forumpost.id forumpost.slug %}" class="mt-3">
	                <input type="hidden" name="type" value="comment">
	                  {% crispy comment_form %}
	                  {% csrf_token %}
	                </form>
	            </div>
            </div>
            <!-- Confirm Delete Comment Modal -->
            <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Confirm Comment Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h4>Warning!</h4><p>You are about to delete this Comment.  This action cannot be undone!  Proceed carefully...</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="rem-comment">
                    <input id="rem-comment" type="hidden" name="comment" value="">
                    <button type="submit" class="btn btn-primary">Delete Comment</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>