{% extends 'base.html' %}
{% load static %}
{% block title %}{{ siteName }} - Post{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block form_media %}
<script src="{% static 'tinymce/tinymce.min.js' %}" type="application/javascript" referrerpolicy="origin"></script>
<script src="{% static 'tinymce/jquery.tinymce.min.js' %}" type="application/javascript" referrerpolicy="origin"></script>
{% endblock form_media %}
{% block content %}
<div class="container" class="post-and-comments-container">
	<div class="row h-75 my-auto">
		{% include './post.html' %}
		{% include './comment.html' %}
	</div>
</div>
{% endblock %}
{% block body_js %}
  <script src="{% static 'django_forum/js/forum_post_detail.js' %}" type="application/javascript" referrerpolicy="origin" defer></script>
{% endblock body_js %}