{% load static %}
{% load thumbnail %}
{% load pipeline %}
{% block extra_css %}
  {% stylesheet 'carousel_styles' %}
{% endblock extra_css %}
    <div id="carousel-large-background" class="carousel slide carousel-fade" data-bs-interval="false" data-bs-ride="carousel" data-bs-pause="false">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrftoken}}">
      <input type="hidden" id="hidden-data" data-images-per-request="{{images_per_request}}" data-use-cache="{{use_cache}}" data-randomize-images="{{randomize_images}}" data-loading-image="{% static loading_image %}" data-image-size-large="{{image_size_large}}" data-image-size-small="{{image_size_small}}" data-img-pause="{{image_pause}}">
      <div class="carousel-inner">
        {% for image in images %}
          <div id="image-{{ forloop.counter }}-carousel" class="carousel-item">
            <img src="{% static loading_image %}" size="{{image_size}}" height="100%" class="carousel-image" id="{{image.id}}" data-image-src="{{image.file.url}}">
            <div class="carousel-caption p-2 col-sm-6 col-md-4 col-lg-3 d-md-block text-white">
              {{image.caption|safe}}
            </div>
          </div>
        {% endfor %}
      </div>
      {% if images.exists %}
        <a class="carousel-control-prev" href="#carousel-large-background" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-large-background" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      {% endif %}
    </div>
    {% block body_js %}
      {% javascript 'django_bs_carousel' %} <!-- pipeline minified javascript tag -->
      <!-- <script src="{% static 'django_artisan/js/carousel.js' %}" type="application/javascript" referrerpolicy="origin" defer=""></script> -->
    {% endblock body_js %}
