{% load static %}
{% load thumbnail %}
{% load pipeline %}
    <div id="carousel-large-background" class="carousel slide carousel-fade" data-bs-interval="6200" data-bs-ride="carousel" data-bs-pause="false">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrftoken}}">
      <input type="hidden" id="images_per_request" data-images="{{images_per_request}}">
      <input type="hidden" id="loading_image" data-loading-image="{% static loading_image %}">
      <div class="carousel-inner">
        {% for image in images %}
        {% if forloop.counter0 == 0 %}
          <div id="image-{{ forloop.counter }}-carousel" class="carousel-item active"> 
        {% else %}
          <div id="image-{{ forloop.counter }}-carousel" class="carousel-item">
        {% endif %}
        {% if forloop.counter0 < lazyload_offset %}
              <img src="{% thumbnail image.image_file image_size as im %}
                                      {{ im.url }}
                                    {% endthumbnail %}" 
                 class="carousel-image" id="image-{{forloop.counter}}-image" >
        {% else %}
              <img src="{% static loading_image %}" size="{{image_size}}" height="100%" class="carousel-image carousel-load" id="image-{{image.id}}">
        {% endif %}
            <div class="carousel-caption p-2 col-sm-6 col-md-4 col-lg-3 d-md-block text-white">
              <h5>{{ image.image_title }}</h5>
              <p>{{ image.image_text }}</p>
              <p>Made by <a class="headline-text" href='{% if image.user_profile.display_personal_page %}{% url "django_artisan:personal_page_view" name_slug=image.user_profile.display_name %}{% else %}#{% endif %}'>{{image.user_profile.display_name}}</a>
              {% if image.image_shop_link %}
              <p>You can buy this at <a href="{{ image.image_shop_link }}" target="blank" class="landing-img-link text-warning">{{ image.image_shop_link_title }}</a></p>{% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% if images.exists %}
        <a class="carousel-control-prev" href="#carousel-large-background" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-large-background" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      {% endif %}
    </div>
    {% block body_js %}
      {% javascript 'django_bs_carousel' %} <!-- pipeline minified javascript tag -->
      <!-- <script src="{% static 'django_artisan/js/carousel.js' %}" type="application/javascript" referrerpolicy="origin" defer=""></script> -->
    {% endblock body_js %}
