
{% extends 'base.html' %}
{% block title %}{{ siteName }} - Account Confirmed{% endblock title %}
<!-- TODO: check need for integrity and sanitize link to css etc -->
{% block extra_css %}
    {% load static %}
    <link href="{% static 'django_users_app/css/balloons.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
	<div class="container register-container">
		<div class="row h-75 align-items-center">
			<div class="col-auto mx-auto">
				{% if success %} 
					<h2>Congratulations <span class="text-white">{{ user.profile.display_name }}...</span><br>
						<span class="ps-5">your account is confirmed!</span></h2><br>
					<span><h4><a class="text-white" href="{% url 'logout' %}?next={% url 'login' %}">Login</a></h4></span>
					<div class="balloon"></div>
					<div class="balloon"></div>
					<div class="balloon"></div>
					<div class="balloon"></div>
					<div class="balloon"></div>
				{% else %}
					<div class="text-white">
					<h2>Error!</h2><br>
					<h3>You tried to register with an invalid token!</h3>
					<h3>If you think this is a mistake then please get in touch...</h3>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
