
<!--users/templates/registration/password_change_form.html-->

{% extends 'base.html' %}
{% block title %}{{ siteName }} - Password Change{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mx-auto">
	<div class="tinfo mt-5 col-auto mx-auto">
		<div class="row">
		    <h2 class="col-auto">Change password</h2>
		</div>
		<div class="row justify-content-end">
			<form class="col-auto mb-3 text-white" method="post">
				{% csrf_token %}
				{{ form|crispy }}
			    <div class="row">
			        <input class="col-auto ms-auto mt-3 me-2 btn btn-primary" type="submit" value="Change">
			    </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
