

/* PROFILE */
#div_id_image_file {
  color: white;
}

.custom-file-label {
  display: none;
}

.form-control.custom-file > .custom-file-input {
  line-height: 1rem;
}

/* POSTS */
.custom-select {
  width: 100px;
}

table {
  width:100%;
}

#post-edit-div {
  display: none;
}

.comment-textarea {
  height: 18vh;
}

.comment-text > p > a {
  color:yellow;
}

.comment-form-buttons {
  display: none;
}
