
{% extends 'base.html' %}

<!-- TODO: check need for integrity and sanitize link to css etc -->
{% block extra_css %}
    {% load static %}
    <link href="{% static 'django_users_app/css/balloons.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
	<div class="container" style="height: 100vh;">
		<div class="row h-75 align-items-center">
			<div class="col-auto mx-auto">
				{% if success %} 
					<h2>Congratulations {{ user.username }}...<br>your account is confirmed!</h2><br>
					<span><h4><a class="text-white" href="{% url 'logout' %}?next={% url 'login' %}">Login</a></h4></span>
					<div class="balloon"></div>
					<div class="balloon"></div>
					<div class="balloon"></div>
					<div class="balloon"></div>
					<div class="balloon"></div>
				{% else %}
					<h2>Error!<br> You tried to register with an invalid token!</h2>
					<h3>If you think this is a mistake then please get in touch...</h3>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
