<!--dajngo_users_app/templates/registration/login.html-->

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row align-items-center h-75">
        <div class="mb-3 col-10 col-sm-7 col-md-4 col-lg-3 mx-auto">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-row m-3">
                    <div class="form-group mb-3 col-auto mx-auto">
                        {% crispy form %}
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Sign in</button>
                    <div class="row justify-content-between">
                        <a href="{% url 'password_reset' %}" class="ml-3 col-auto me-auto text-white">Reset password</a>
                        <a href="{% url 'register' %}" class="ml-3 col-auto text-white">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
