<!--users/templates/registration/password_reset_confirm.html-->

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
    <div class="row mx-auto">
        <form class="col-12 col-sm-auto mx-auto mt-5 text-white" method="post">
            {% csrf_token %}
            <div class="row">
                <p><h4>Please enter (and confirm) your new password.</h4></p>
            </div>
            <div class="row">
                <div class="col-10 col-sm-8 col-md-7 mb-3">
                    {{ form|crispy }}
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-5 col-sm-6 col-md-7">
                    <input class="btn btn-primary" type="submit" value="Reset">
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <div class="row text-white">
        <div class="col-auto mx-auto">
            <h1>Doh!  The password reset failed...</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
    </div>
    {% endif %}
{% endblock %}
