<!--users/templates/registration/password_reset_confirm.html-->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ siteName }} - Password Reset Confirmation{% endblock title %}

{% block content %}
    {% if validlink %}
    <div class="row mx-auto">
        <form class="col-11 col-sm-8 col-md-6 col-lg-5 mx-auto mt-5 tinfo" method="post">
            {% csrf_token %}
            <div class="row">
                <p><h4>Please enter (and confirm) your new password.</h4></p>
            </div>
            <div class="row">
                <div class="col-auto">
                    {{ form|crispy }}
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <input class="btn btn-primary mt-3 mb-3" type="submit" value="Reset">
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <div class="row tinfo">
        <div class="col-auto mx-auto">
            <h1>Doh!  The password reset failed...</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
    </div>
    {% endif %}
{% endblock %}
