{% extends 'base.html' %}
{% block title %}Ceramic Isles - Post{% endblock title %}
{% block form_media %}
{% load static %}
 <script src="{% static 'tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
 <script src="{% static 'tinymce/jquery.tinymce.min.js' %}" referrerpolicy="origin"></script>
{% endblock form_media %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container" style="height:70vh">
	<div class="row h-75 my-auto">
		<div id='post_text' class="col-12 col-sm-11 col-md-10 col-lg-8 mx-auto my-auto">
			<div class="row align-items-end text-white">
				<div class="col-auto">
				        <h3>{{ post.title|safe }} <span class="text-dark ps-2">by</span></h3>
			    </div>
			    <div class="col-auto">
			    	<h4>{{ post.post_author }}<span class="text-dark ps-3">on</span></h4>
			    </div>
			    <div class="col-auto">
			    	<h6>{{ post.date_created }}</h6>
			    </div>
			</div>
			<div class="row ms-auto">
				{% if not post.moderation %}
			    <div id="textarea" class="col-auto">{{ post.text|safe }}</div>
			    {% else %}
			    <div>This post has been reported and is awaiting moderation.</div>
			    {% endif %}
			    {% if post.post_author == user.username %}
				    <div class="ms-auto">
		    		    <form method="post">
		    		    	{% csrf_token %}
		    		    	<div id="post-edit-div">
		    		    		<input type="textarea" name="update-post" class="update-form-text"></input>
				    		    <input type="hidden" name="type" value="update">
			                    <button id="editor-cancel-btn" type="button" class="ms-auto col-auto btn btn-primary">Cancel</button>
			                    <button id="editor-submit-btn" type="submit" class="me-auto col-auto btn btn-primary">
			                    Save Post</button>
			                </div>
		                </form>
		            </div>
                {% else %}
	                {% if not post.moderation %}
	                <div class="ms-auto">
	                    <form method="post" id="form-report-post">
	                    	{% csrf_token %}
	                    	<div class="text-white">
	                            <input type="hidden" name="type" value="post-report">
	                            <a class="report-post text-warning" href="#">Report Post for Moderation</a>
	                    	</div>
	                    </form>
	                </div>
	                {% endif %}
                {% endif %}
		    </div>
		    <div class="row justify-content-end">
	    		{% if post.post_author == user.username %}
	    		    <div id="modify-post-btns">
			    		<button id="delete-btn" type="button" class="btn btn-secondary col-auto me-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete Post</button>
		    		    <button id="editor-btn" class="me-auto col-auto btn btn-primary">Edit Post</button>
	    		    </div>
	    		{% endif %}
		    </div>
		    <!-- Confirm Delete Post Modal -->
		    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">
		            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Post Deletion</h5>
		            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		          </div>
		          <div class="modal-body">
		            <h4>Warning!</h4><p>Your are about to delete this post.  This action cannot be undone!  Proceed carefully...</p>
		          </div>
		          <div class="modal-footer">
		            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		            <form method="post">
		            {% csrf_token %}
		            <input type="hidden" name="type" value="post">
		            <button type="submit" class="btn btn-primary">Delete Post</button>
		            </form>
		          </div>
		        </div>
		      </div>
		    </div>
		</div>
		<!-- COMMENTS -->
		<div class="col-10 col-lg-8  mx-auto">
		    <h5 class="text-white mt-3">Comments...</h5>
		    {% load thumbnail %}
		    {% for comment in comments %}
		        <div class="row mx-auto">
			        <div class="comments ps-4">
		                <div class="row mx-auto">
		                	{% if not comment.moderation %}
		                	    <a class="col-1" href="{{request.path}}#{{comment.title}}" id="{{ comment.title }}"><h2 class="text-warning">#</h2></a>
			                	<div id="comment-text-{{ forloop.counter }}" class="comment-text col-11">
			                        {{ comment.text|linebreaks|urlize|safe }}
	                            </div>
                            {% else %}
                                <div>This comment has been reported and is awaiting moderation</div>
                            {% endif%}
                            {% if comment.comment_author == user.username %}
                            <div id="comment-form-buttons-{{ forloop.counter }}" class="comment-form-buttons">
                            	<form method="post" id="comment-update-form">
                            	{% csrf_token %}
                            	<input type="hidden" name="type" value="comment-update">
                            	<input type="hidden" name="id" value="{{ comment.id }}">
                            		<div class="row">
                            			<div class="col-auto">
                                    		<textarea id="comment-textarea-{{ forloop.counter }}" wrap="hard" rows="6" cols="60" class="comment-textarea" name="comment-update"></textarea>
                                    	</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-auto ms-auto">
                                    	    <a class="comment-save text-white me-2" href="#">Save Comment</a>
                                    	    <a id="{{ forloop.counter }}" class="comment-cancel text-white" href="#">Cancel Update</a>
                                        </div>
                                    </div>
                              	</form>
                            </div>
                            {% elif not comment.moderation %}
                            <div class="ms-auto">
			                    <form method="post" id="form-report-comment">
			                    	{% csrf_token %}
			                    	<div class="text-white">
			                            <input type="hidden" name="type" value="comment-report">
			                            <input type="hidden" name="id" value="{{ comment.id }}">
			                            <a class="report-comment text-warning" href="#">Report Comment for Moderation</a>
			                    	</div>
			                    </form>
			                </div>
                            {% endif %}
                        </div>
                        <div class="row justify-content-between mb-3">
                        	<div class="col-auto">
		                	    <a href="/people/{{comment.author}}/">{% thumbnail comment.user_profile.forumprofile.avatar.image_file "40x40" crop="center" as im %}
                                    <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="rounded-circle" value="image-{{ forloop.counter }}"></img></a>
                                {% endthumbnail %}
	                            <span class="text-white fs-6 font-weight-normal">
		                            {{ comment.author }}
		                            {{ comment.date_created }}
		                        </span>
		                    </div>
			                {% if comment.comment_author == user.username %}
		                    <div id="comment-modify-btns-{{ forloop.counter }}" class="col-auto">
			                	<a href="#" class="text-white" data-bs-toggle="modal" data-bs-target="#commentModal" data-bs-whatever="{{comment.id}}">Delete Comment</a>
			                	<a id="{{ forloop.counter }}" class="comment-edit text-white" href="#">Edit Comment</a>
				             </div>
				            {% endif %}
				        </div>
			        </div>
        	    </div>
            {% endfor %}
            <div class="row">
	            <div class="card-body mx-auto">
	                <form method="post" style="margin-top: 1.3em;">
	                <input type="hidden" name="type" value="comment">
	                  {% crispy comment_form %}
	                  {% csrf_token %}
	                </form>
	            </div>
            </div>
        </div>
        <!-- Confirm Delete Comment Modal -->
        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Confirm Comment Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h4>Warning!</h4><p>Your are about to delete this Comment.  This action cannot be undone!  Proceed carefully...</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post">
                {% csrf_token %}
                <input type="hidden" name="type" value="rem-comment">
                <input id="rem-comment" type="hidden" name="comment" value="">
                <button type="submit" class="btn btn-primary">Delete Comment</button>
                </form>
              </div>
            </div>
          </div>
        </div>
	</div>
</div>
{% endblock %}
{% block body_js %}
<script>
$("#id_text").keyup(function(){
  $("#count").text("...characters left: " + (500 - $(this).val().length));
});
function showEditor() {
	$('.update-form-text').val($('#textarea').html())
	$('#post-edit-div').show();
	tinymce.editors[0].show();
	$('#textarea').hide()
	$('#modify-post-btns').hide();
	
	$('#editor-cancel-btn').click(function(){
		tinymce.editors[0].hide();
		$('.update-form-text').hide()
		$('#post-edit-div').hide()
		$('#textarea').html($('.update-form-text').val())
		$('#textarea').show()
	    $('#modify-post-btns').show();
	});
}

function showUpdateComment(id) {
	//$("textarea[id='#comment-textarea-" + id + "']").val($('#comment-text-' + id).html().trim())
	$("#comment-textarea-" + id).val($('#comment-text-' + id).text().trim())
	$('#comment-textarea-' + id).show()
	$('#comment-text-' + id).hide()
	$('#comment-form-buttons-' + id).show()
    $('#comment-modify-btns-' + id).hide()
}

function hideUpdateComment(id) {
    $('#comment-form-buttons-' + id).hide()
    $('#comment-modify-btns-' + id).show()
    $('#comment-textarea-' + id).val('')
    $('#comment-textarea-' + id).hide()
    $('#comment-text-' + id).show()
}

function onInstanceInit(editor) {
    editor.hide()
    $(editor.getContainer()).find('button.tox-statusbar__wordcount').click();
    $('#textarea').show()
}
$(document).ready(function () {
	$('.update-form-text').hide();
	$('#post-edit-div').hide();
	$('#comment-textarea').hide();
	$('.comment-form-buttons').hide();
	$('#editor-btn').click(function(){
        showEditor()
	});
	$('.comment-save').on("click", function( event ) {
  		event.preventDefault();
  		event.currentTarget.closest("#comment-update-form").submit();
  	});	
  	$('.report-post').on("click", function( event ) {
  		event.preventDefault();
  		event.currentTarget.closest("#form-report-post").submit();
  	});
  	$('.report-comment').on("click", function( event ) {
  		event.preventDefault();
  		event.currentTarget.closest("#form-report-comment").submit();
  	});
	$('.comment-edit').on("click", function( event ) {
  		event.preventDefault();
  		showUpdateComment(event.currentTarget.id)
	});
	$('.comment-cancel').on("click", function( event ) {
  		event.preventDefault();
  		hideUpdateComment(event.currentTarget.id)
	});
	tinymce.init({
	'selector': '.update-form-text',
	'init_instance_callback': "onInstanceInit",
    'menubar': "False",
    'min-height': "500px",
    'browser_spellcheck': "True",
    'contextmenu': "False",
    'plugins': "advlist autolink lists link image charmap print preview anchor searchreplace fullscreen insertdatetime media table paste code help wordcount spellchecker",
    'toolbar': "undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor | a11ycheck ltr rtl | showcomments addcomment table",
    'custom_undo_redo_levels': "10",
	});
	//tinymce.editors[0].hide()
});
var commentModal = document.getElementById('commentModal')
commentModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var value_val = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  $('#rem-comment').attr('value', value_val)
})
</script>
{% endblock body_js %}