<!--django_users_app/templates/django_users_app/register.html-->
{% extends 'base.html' %}
{% block title %}{{siteName}} - Register{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="col-11 col-sm-10 col-md-7 col-lg-5 mx-auto">
		<span class="tinfo"><h2>Register</h2></span>
		<form method="post" autocomplete="off">
		{% csrf_token %}
		{% crispy form %}
		<div class="row justify-content-between">
			<div class="col-auto mt-3">
				<a href="{% url 'resend_confirmation' %}" class="tinfo mt-3">Resend Confirmation Token</a>
		    </div>
		    <div class="col-auto">
		        <button class="btn btn-primary mb-4" type="submit">Register</button>
		    </div>
	    </div>
	    </form>
	</div>
{% endblock %}
