<!--django_users_app/templates/django_users_app/register.html-->

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="col-11 col-sm-10 col-md-7 col-lg-5 mx-auto">
		<span class="text-white"><h2>Register</h2></span>
		{% csrf_token %}
		<form method="post" autocomplete="off">
		{% crispy form %}
		<div class="row justify-content-end">
			<div class="col-auto">
		        <button class="btn btn-primary mb-4" type="submit">Register</button>
		    </div>
	    </div>
	    </form>
	</div>
{% endblock %}
