{% extends 'base.html' %}
{% block content %}
<div class="row mx-auto">
    <div class="col-11 col-sm-10 col-md-9 col-lg-8 mx-auto text-white">
    	<h2 class="text-warning">Rules</h2>
    	<div class="ps-4">
    		<div class="mb-3">
    			<h3>This webapp, {{ app_name }}, includes a forum and also, each member has the facility for a personal page.</h3>
    		    <h3>Each user can upload a limited number of images of their work to display publicly, both on the app landing page, and on the individual user's personal page.</h3>
    	    </div>
    	    <div class="mb-3 text-warning"><h3>Image rules</h3></div>

    	    <div class="ps-4">
    	    	<h4 class="mb-3">A user may upload a limited number of images to use to display their work.  Currently this number is limited to 3 images.  Images will be cropped, with aspect ratio preserved, and a border will be applied.</h4>
    	    	<h4 class="mb-3">Image content.  Uploaded images must be of the individual user's work.   No deviation from this will be tolarated.</h4>
    	    	<h4 class="mb-3">Images may also be included in posts in the forum.  These images must be stored elsewhere online, either a picture sharing site, pinterest, or dropbox etc.  Because the images in a post are effectively links, comments may also include a picture but only the link to that picture will be displayed.</h4>
    	    	<h4 class="mb-3">Images that are used in the forum must respect the copyright of the image.</h4>
    	    	<h4 class="mb-3">Images that are used in the forum must be relevant to the post or comment, and must adhere to basic human decency.</h4>
    	    </div>

	    	<div class="mb-3 text-warning"><h3>Forum rules</h3></div>

	    	<div class="ps-4">
	    		<h4 class="mb-3">Thanks for participating in our community. To ensure the best possible experience for all members, we have established some basic guidelines for participation.</h4>

	    		<h4 class="mb-3">By joining and using the forum, you agree that you have read and will follow the rules and guidelines set for these peer discussion groups. You also agree to reserve forum discussions for topics best suited to the medium. This is a great medium with which to solicit the advice of your peers, benefit from their experience, and participate in an ongoing conversation.</h4>

	    		<h4 class="mb-3">Please take a moment to acquaint yourself with these important guidelines. To preserve a climate that encourages both civil and fruitful dialogue, {{ app_name }} reserves the right to suspend or terminate membership on all forum for members who violate these rules.</h4>
	    	
		    	<h4 class="mb-3">The Rules</h4>
		    	<div class="ps-4 mb-4">
		    		<ul>
			    	    <li>Don’t challenge or attack others. The discussions on the forum are meant to stimulate conversation, not to create contention. Let others have their say, just as you may.</li>
			    	    <li>Don’t post commercial messages. Contact people directly with product and service information if you believe it would help them.</li>
			    	    <li>All defamatory, abusive, profane, threatening, offensive, or illegal materials are strictly prohibited. Do not post anything in a post message that you would not want the world to see or that you would not want anyone to know came from you.</li>
			    	    <li>Please note carefully all items posted in the disclaimer and legal rules below, particularly regarding the copyright ownership of information posted to the topic.
			    	    Remember that {{ app_name }} and other forum participants have the right to reproduce postings to this forum.</li>
			    	    <li>Send your message only to the most appropriate topic(s). Do not spam several topics with the same message.</li>
			    	    <li>State concisely and clearly the topic of your comments in the title line. This allows members to respond more appropriately to your posting and makes it easier for members to search the archives by subject.</li>
			    	    <li>If you are replying to a post or comment, include only the relevant portions of the original message in your reply. Delete any header information and put your response before the original posting.</li>
			    	    <li>Warn other topic subscribers of lengthy messages either in the subject line or at the beginning of the message body with a line that says “Long Message.”</li>
			    	    <li>Multiple accounts and throwaway emails: We don’t allow multiple accounts per user. Using a disposable email address signals to us that you might not be here for the right reasons. You also may not create accounts designed to impersonate another person.</li>
			    	    <li>Trolling: ”Trolling” can cover a mulitude of sins.  If you’re abusing the good conversations here at {{ app_name }}, we will take your comments and posts down. This includes taking a thread off-topic, by the way.</li>
			    	    <li>Spam: Zero tolerance, of course! If it comes from a human or a robot, spam will be deleted.</li>
			    	    <li>Images that are used in the forum must respect the copyright of the image.</li>
						<li>Images that are used in the forum must be relevant to the post or comment, and must adhere to basic human decency</li>
			    	    <li>Moderation.  You can report any post or comment that you feel is in breach of guidelines
			    	    	or general decency etc.  The post or comment text will then be hidden and will only be restored once an admin has moderated the content, and found it to be ok.  Should it not be inline with guidelines, general decency etc, then that post or comment will be removed.</li>
			    	    <li>Warnings.  If a user is in breach of guidelines either once seriously, or on a regular basis, then the user will recieve a warning.  The admin reserve the right to kick the user from membership of the webapp.</li> 
		    	    </ul>
	    	    </div>
		    </div> 
	   	</div>
    </div>
</div>
{% endblock content %}