<!--users/templates/registration/password_reset_form.html-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ siteName }} - Password Reset{% endblock title %}
{% block content %}
	<div class="col-auto mx-auto mt-5">
		<div class="row justify-content-center">
			<h2 class="col-auto headline-text mb-3">{{ instructions }}</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-10 col-sm-6 col-md-6 col-lg-4 mb-3">
    	    	{% csrf_token %}
    	    	{% crispy form %}
    		</div>
		</div>
    </div>
{% endblock %}