{% load static %}
{% load thumbnail %}
    <div id="carousel-large-background" class="carousel slide carousel-fade" data-bs-interval="4200" data-bs-ride="carousel" data-bs-pause="false">
      <div class="carousel-inner">
        {% for image in images %}
        {% if forloop.counter0 == 0 %}
          <div id="carousel-item" class="carousel-item active">
        {% else %}
          <div id="image-{{ forloop.counter }}-carousel" class="carousel-item">
        {% endif %}
             {% thumbnail image.image_file image_size as im %}
                <img src="{{ im.url }}" class="carousel-image" id="image-{{ forloop.counter }}-image" />
              {% endthumbnail %}
            <div class="carousel-caption p-2 col-sm-6 col-md-4 col-lg-3 d-md-block text-white">
              <h5>{{ image.image_title }}</h5>
              <p>{{ image.image_text }}</p>
              <p>Made by <a href='people/{{image.user_profile.profile_user.username}}'>{{image.user_profile.profile_user.username}}</a>
              <p>You can buy this at <a href="{{ image.image_shop_link }}" class="landing-img-link text-warning">{{ image.image_shop_link_title }}</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if images.count > 0 %}
        <a class="carousel-control-prev" href="#carousel-large-background" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-large-background" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      {% endif %}
    </div>