{% load thumbnail %}
{% load crispy_forms_tags %}
Currently uploaded user images (click to delete):
{% for image in images %}
    <div class="row">
        <form action="{% url 'forum_remove_images' image.id|stringformat:'s' %}" method="post" class="col-auto mb-3">
            {% csrf_token %}
            {% thumbnail image.image_file "100x100" as im %}
                <input type="image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" name="saveForm" class="btTxt submit" id="saveForm" />
            {% endthumbnail %}
            {{ image.image_text }}
            {{ image.image_shop_link }}
        </form>
    </div>
{% endfor %}