{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}
<div class="container-fluid people-page">
	<div class="row mb-3">
		<div class="col-5 text-white">
			<h4 class="profile-names">{{ name }}</h4><br>
			<div class="ps-3">
				<div>{{ bio }}</div>
				{% if shop_link %}
				<div>You can buy my work here... <a class="text-warning" target="_blank" href="{{ shop_link }}">{{ shop_link }}</a></div>
				{% endif %}
				{% if outlets %}
				<div>Or at one of the following outlets:</div>
				<div>{{ outlets }}</div>
				{% endif %}
			</div>
		</div>
		<div class="col-auto">
			{% thumbnail profile_image_file "400x400" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="profile-image" />
            {% endthumbnail %}
		</div>
	</div>
	<div class="row mx-auto">
		<div class="col-auto">
			{% if images %}
			<span class="profile-names text-white"><h2>{% if name %}{{ name }}'s Gallery...{% else %}My Gallery{% endif %}</h2></span>
    		{% include './carousel.html' %}
    		{% endif %}
    	</div>
 	</div>	
</div>
{% endblock content %}