{% load static %}
{% load thumbnail %}
{% load pipeline %}
{% block extra_css %}
  {% stylesheet 'carousel_styles' %}
{% endblock extra_css %}
    <div id="carousel-large-background" class="carousel carousel-fade" data-bs-interval="6500" data-bs-ride="carousel" data-bs-pause="true">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{csrftoken}}">
      <input type="hidden" id="hidden-data" data-images-per-request="{{images_per_request}}" data-use-cache="{{use_cache}}" data-randomize-images="{{randomize_images}}" data-loading-image="{% static loading_image %}" data-image-size-large="{{image_size_large}}" data-image-size-small="{{image_size_small}}" data-img-pause="{{image_pause}}" data-offset="{{offset}}">
      <div class="carousel-inner">
        {% for image in images %}
          <div id="image-{{ forloop.counter }}-carousel" class="carousel-item">
            <img src="{% static loading_image %}" size="{{image_size}}" height="100%" class="carousel-image" id="{{image.id}}" data-image-src="{{image.file.url}}">
            <div class="carousel-caption p-2 col-sm-6 col-md-4 col-lg-3 d-md-block text-white">
              <h5>{{ image.title }}</h5>
              <p>{{ image.text }}</p>
              <p>Made by <a class="headline-text" href='{% if image.user_profile.display_personal_page %}{% url "django_artisan:personal_page_view" name_slug=image.user_profile.display_name %}{% else %}#{% endif %}'>{{image.user_profile.display_name}}</a>
              {% if image.shop_link %}
              <p>You can buy this at <a href="{{ image.shop_link }}" target="blank" class="landing-img-link text-warning">{{ image.shop_link_title }}</a></p>{% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% if images.exists %}
        <button class="carousel-control-prev" href="#carousel-large-background" type="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" href="#carousel-large-background" type="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      {% endif %}
    </div>
    {% block body_js %}
      {% javascript 'django_bs_carousel' %}
    {% endblock body_js %}
