{% extends 'base.html' %}
{% block title %}{{ siteName }} - Post{% endblock title %}
{% block form_media %}
{% load static %}
 <script src="{% static 'tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
 <script src="{% static 'tinymce/jquery.tinymce.min.js' %}" referrerpolicy="origin"></script>
{% endblock form_media %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container posts-and-comments-container">
	<div class="row h-75 my-auto">
		<div id='post_text' class="col-12 col-sm-11 col-md-10 col-lg-8 mx-auto my-auto">
			<div class="row align-items-end">
				<div class="col-auto">
				        <h3>{{ message.id|safe }} <span class="text-dark ps-2">by</span></h3>
			    </div>
			    <div class="col-auto">
			    	<h4>{{ message.author }}<span class="text-dark ps-3">on</span></h4>
			    </div>
			    <div class="col-auto">
			    	<h6>{{ message.created_at }}</h6>
			    </div>
			</div>
			<div class="row ms-auto">
			    <div id="textarea" class="col-auto">{{ message.text|safe }}</div>
			    {% if message.author == user_display_name %}
				    <div class="ms-auto">
		    		    <form method="post">
		    		    	{% csrf_token %}
		    		    	<div id="post-edit-div">
		    		    		<input type="textarea" name="update-post" class="update-form-text"></input>
				    		    <input type="hidden" name="type" value="update">
				    		    <div class="mt-3">
				                    <button id="editor-cancel-btn" type="button" class="ms-auto col-auto btn btn-secondary me-2">Cancel</button>
				                    <button id="editor-submit-btn" type="submit" class="me-auto col-auto btn btn-primary">
				                    Save Message</button>
				                </div>
			                </div>
		                </form>
		            </div>
                {% endif %}
		    </div>
		    <div class="row justify-content-end">
	    		{% if message.author == user_display_name %}
	    		    <div id="modify-message-btns" class="justify-content-end">
			    		<button id="delete-btn" type="button" class="btn btn-secondary col-auto me-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete Message</button>
		    		    <button id="editor-btn" class="me-auto col-auto btn btn-primary">Edit Message</button>
	    		    </div>
	    		{% endif %}
		    </div>
		    <!-- Confirm Delete Message Modal -->
		    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">
		            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Message Deletion</h5>
		            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		          </div>
		          <div class="modal-body">
		            <h4>Warning!</h4><p>You are about to delete this post.  This action cannot be undone!  Proceed carefully...</p>
		          </div>
		          <div class="modal-footer">
		            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		            <form method="post" action="{% url 'django_messages:message_delete' %}">
		            {% csrf_token %}
		            <button type="submit" class="btn btn-primary">Delete Message</button>
		            </form>
		          </div>
		        </div>
		      </div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}
{% block body_js %}
<script src="{% static 'django_posts_and_comments/js/post_detail.js' %}" type="application/javascript" referrerpolicy="origin"></script>
{% endblock body_js %}
