{% load thumbnail %}
<div class="row mb-3">
    <h3 class="text-warning">Member List.  Click on a name to go to that person's personal page...</h3>
</div>
{% for person in people.values %}
	<div class="row ps-3">
		<div class="col-auto mb-3">
			<a class="{{ colours|random }}" href="{% url 'django_artisan:personal_page_view' person.display_name %}">
			{% thumbnail person.avatar "50x50" crop="center" as im %}
			    <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="rounded-circle me-3" id="image-{{ person.display_name }}_avatar-image" title="{{person.display_name}}" />
			{% endthumbnail %}
			<h3 class="d-inline">{{ person.display_name }}</h3></a>
		</div>
	</div>
{% endfor %}